{% extends 'basic_app/basic_app_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body_block %}
    <h1>Hello World!</h1>
    <h2>Welcome to the page</h2>
    <p>
        Sint quo beatae hic. Et delectus corrupti nihil cum odit amet provident. Aut neque distinctio architecto enim amet sit maiores. Non ut eos provident velit consequatur ut qui. Est hic eum ad deserunt quam ipsum quam non. Provident velit et tempora aut.   
    </p>
    {% endblock %}
</body>
</html>