<!DOCTYPE html>
<head>
    <title>Submission | Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1><center>Hey there, this is my submission</center></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h4>This is a subtitle</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <p>Click on the button below to be redirected to the WSoC landing page. To revisit my submission, click on 'Arghya's Submission' in the navbar</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus enim eligendi iusto, aliquam nisi fugit laudantium libero? Neque nesciunt reiciendis officiis laudantium perspiciatis, facilis, totam nostrum rerum sint accusamus debitis.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <center><a class="btn btn-primary" href="{% url 'basic_app:index' %}">WSoC Landing Page</a></center>
            </div>
        </div>
    </div>
</body>
</html>