{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
<div style="background-color: white;" >
 <div class="contents " style="margin: 20px;">
  <h1>Sports</h1>
  <h2 >Cricket</h2>
  <hr>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio incidunt modi illo quos debitis fugiat ut ipsam,
   sapiente saepe iusto dolor minus eius doloremque in perferendis molestiae, mollitia nulla earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facere recusandae, sed iusto, nemo inventore velit laudantium deleniti sunt eius nesciunt a voluptatibus adipisci officiis quo enim ipsa repellat ut.</p>
  </div>
 </div>

{% endblock %}