{% extends 'submission_app/base.html' %}
{% block title %}
| Backend Task Homepage
{% endblock %}

{% block page_title %}
WSoC Submission
{% endblock %}
{% block page_subtitle %}
Task for backend. I am subtitle followed by title WSoC Submission.
{% endblock %}
{% block paragraph %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore rem inventore error dolorum unde, autem quam pariatur quos quidem eligendi voluptates, cupiditate vitae dolor expedita in ipsum? Delectus, deserunt praesentium! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore rem inventore error dolorum unde, autem quam pariatur quos quidem eligendi voluptates, cupiditate vitae dolor expedita in ipsum? Delectus, deserunt praesentium!
{% endblock %}